<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HomePage</title>

    <style>
      nav {
        width: 1000px;
        margin: auto;
        margin-top: 50px;
        border-bottom: 1px solid black;
      }

      nav ul {
        width: 200px;
        display: flex;
        justify-content: space-between;
        list-style: none;
      }

      nav ul li a {
        color: black;
        text-decoration: none;
        font-size: 20px;
      }
    </style>
    
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li>
            <a href="/books">Books</a>
          </li>
          <li>
            <a href="/add-books">Add books</a>
          </li>
        </ul>
      </nav>
    </header>
  </body>
</html>
